* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 500vh;
}
header{
    background: url("img/banner_bg.jpg");
    height: 540px;
    background-size: cover;
    padding: 3em 0;
}
a{
    text-decoration: none;
}
p{
    font-size: small;
}

.logo{
    padding-left: 10px;
}

.logo a{
    color: #fafafa;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.5em;
}

.logo a span{
    color: #f6c45C;
    font-size: 1.6em;
}

.navbar{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0, 0.6);
    /* mix-blend-mode: exclusion; */
}

.desktop, .mobile{
    padding: 20px;
}

nav ul li{
    display: inline;
    margin-left: 20px;
}
nav ul li a{
    color: #fafafa;
}

h1{
    color: white;
    text-align: center;
}

h1 span:nth-child(1){
    color: #3dc1cd;
}
h1 span:nth-child(2){
    color: #f69536;
}

header p{
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    line-height: 150%;

}.mobile{
    display: none;
}

.boxHeader{
    margin: auto;
    padding-top: 100px;
    color: white;
    min-width: 280px;
    max-width: 670px;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
}

.burger {
    margin-top: 10px;
    display: none;
}

#checkBurger, .menuBurger {
    visibility: hidden;
}

.menuBurger {
    margin-top: 15px;
    position: absolute;
}
.menuBurger ul li {
    list-style-type: none;
}
.menuBurger ul li a{
    color: black;
}

@media screen and (max-width: 600px) {
    .desktop {
        display: none;
    }
    .mobile, .burger {
        /* visibility: visible; */
        display: block;
    }
    .burger{
        background: rgba(255, 255, 255, 0.8);
        padding: 5px;
        border-radius: 5px;
        display: grid;
        place-items: center;
        position: fixed;
        top: 0;
        z-index: 99;
    }
    .mobile div:last-child{
        background: rgba(255, 255, 255, 0.8);
    }
    .mobile input:checked ~ .menuBurger{
        /* height: auto; */
        visibility: visible;
        /* display: none; */
        /* justify-content: flex-end;
        align-items: flex-end; */
    }
}

.startbtn{
    margin-top: 50px;
    padding: 10px 30px;
    border-radius: 20px;
    border-style: none;
}

/***************************************************************************/

.aboutus{
    background-image: url(img/about-bg.jpg);
    color: white;
    height: 540px;
    background-size: cover;
    padding: 3em 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.about{
    margin-right: 10px;
    margin-left: 10px;
    width: 20%;
}

@media screen and (max-width: 600px){
    .aboutus{
        display: block;
        height:fit-content
    }
    .about{
        width: 80%;
        margin: auto;
        margin-top: 60px;
    }
}

.icon{
    border: 3px solid white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #f6c45C;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
    color: black;
}
.mdi{
    font-size: 48px;
}

.aboutus p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutus button, .contactus button{
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #3dc1cd;
    color: white;
    border: none;
}

/********************************************************************************************/
.portfolio{
    display: flex;
}
.portfolio .aside{
    background-color: #3dc1cd;
    /* max-width: 30%; */
    float: left;
    width: 60%;
    padding: 4%;
    color: white;
}
.gallery{
    width: 80%;
}
.portfolio span{
    color: #f69536;
}
.portfolio img{
    max-width: 100%;
}
.portfolio  p{
    border-top: 2px solid #fafafa;
}
.portfolio  li, .portfolio  p, .portfolio h3 {
    margin: 10px;
    padding-top: 10px;
    list-style: none;
}

@media screen and (max-width: 600px){
    .portfolio{
        display: block;
    }
    .portfolio .aside{
        background-color: #3dc1cd;
        /* max-width: 30%; */
        width: 100%;
        padding: 4%;
        color: white;
    }
    .gallery{
        width: 100%;
        text-align: center;
    }
    .portfolio img{
        width: 100%;
    }
}

/************************************************************************************************/

.present{
    background-color: #f6c45C;
    height: fit-content;
    padding: 10%;
}

.present .centerp{
    background-color:aliceblue;
    padding: 10px;
    min-width: 50%;
    max-width: 60%;
    margin: auto;
    text-align: center;
    padding: 50px;
}
.present .centerName{
    text-align: center;
    margin-top: 20px;
    color: white;
}
.centerName span{
    color: gainsboro;
}

/*************************************************************************************************/

.blog{
    background-image: url(img/blog-bg.jpg);
    height: 550px;
    display: flex;
}
.blog aside{
    background-color: rgba(0,0,0, 0.7);
    color: white;
    height: 100%;
    padding: 2%;
}

aside h3, aside hr, aside ul{
    margin-top: 20px;
    margin-bottom: 20px;
}
aside ul{
    margin-top: 50px;
}
.blog span{
    color: #f69536;
}
.blog .left{
    margin-left: 25%;
    width: 70%;
}
.blog ul li{
    background-color: whitesmoke;
    margin: 15px 0;
    padding: 10px;
    color: black;
    text-align: center;
    list-style: none;
}
.blog .content{
    margin-top: 2%;
    margin-left: 2%; 
}
.blog .background img{
    background-image: url(img/blog_item_01.jpg);
    background-repeat: no-repeat;
    width: 80%;
    height: 55%;
}
.blog .text{
    background-color: whitesmoke;
    width: 80%;
    height: 30%;
    padding-top: 2%;
    padding-left: 2%;
}
.blog .text h3{
    color: #3dc1cd;
}
@media screen and (max-width: 600px){
    .blog{
        height: fit-content;
        display: block;
    }
    .blog aside{
        height: 100%;
        padding: 2%;
    }
    .blog .left, .blog .text{
        margin: auto;
    }
    .blog .background{
        text-align: center;
    }
    .blog .content{
        padding-bottom: 20px;
    }
}

/**************************************************************************************/

.contactus{
    background-color: grey;
    height: 300px;
    text-align: center;
    color: white;
    padding-top: 5%;
}
.contactus div{
    min-width: 40%;
    max-width: 50%;
    margin: auto;
}
.contactus p, .contactus h2{
    padding: 4%;
}

.gmap{
    width:100%;
}

/************************************************************************************/


footer{
    background-color: #383b3c;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 2%;
}

.adresse{
    display: flex;
    justify-content: space-around;
}
.adresse p:first-child{
    border-right: 2px solid #fafafa;
    padding-right: 10px;
}
.adresse p:nth-child(2){
    padding-left: 10px;
}
.allicon {
    display: flex;
}
.allicon div{
    margin: 3px;
}
footer p:first-child{
    margin-bottom: 10xp;
}
footer .title{
    padding-bottom: 20px;
}
.location, .moreinfo, .getsocial{
    height: 60%;
}
@media screen and (max-width: 600px){
    footer{
        display: block;
        height: fit-content;
        text-align: center;
    }
    .allicon div{
        margin: auto;
        margin-bottom: 20px;
    }
    .social{
        border-radius: 50%;
        width: 70px;
        height: 70px;
        background-color: whitesmoke;
        color: black;
        font-size: 36px;
    }
    .logo, .location, .moreinfo, .getsocial{
        margin-bottom: 40px;
    }
}